In [2]:
import pandas as pd

In [8]:
data = pd.read_csv('netflix_titles.csv')

In [9]:
data.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [10]:
data.head()

    show_id  ...                                        description
0  81145628  ...  Before planning an awesome wedding for his gra...
1  80117401  ...  Jandino Asporaat riffs on the challenges of ra...
2  70234439  ...  With the help of three human allies, the Autob...
3  80058654  ...  When a prison ship crash unleashes hundreds of...
4  80125979  ...  When nerdy high schooler Dani finally attracts...

[5 rows x 12 columns]

In [15]:
#converting date 
data['date_added'] = pd.to_datetime(data['date_added'])
data['Year_added'] = data['date_added'].dt.year
data['Month_added'] = data['date_added'].dt.month

In [14]:
data_TV = data[data['type']=='TV Show']
data_Movies = data[data['type']=='Movie']

In [17]:
#Let us find out how the number of shows added has changed over time
data_TV['Year_added'].value_counts()

2019.0    803
2018.0    492
2017.0    387
2016.0    192
2020.0     37
2015.0     32
2014.0      6
2013.0      6
2012.0      3
2008.0      1
Name: Year_added, dtype: int64

In [18]:
#Increase in number of movies added over time.
data_Movies['Year_added'].value_counts()

2019.0    1546
2018.0    1290
2017.0     913
2016.0     264
2020.0     147
2015.0      58
2014.0      19
2011.0      13
2013.0       6
2012.0       4
2009.0       2
2010.0       1
2008.0       1
Name: Year_added, dtype: int64

In [19]:
#Let us remove the irrelvant attributes in order to make it simple
#The attributes we are interested in are, type,genre,director,cast,country,rating,title and description
new_data = data[['type','listed_in','director','cast','country','rating','title','description']]
new_data.head()

      type  ...                                        description
0    Movie  ...  Before planning an awesome wedding for his gra...
1    Movie  ...  Jandino Asporaat riffs on the challenges of ra...
2  TV Show  ...  With the help of three human allies, the Autob...
3  TV Show  ...  When a prison ship crash unleashes hundreds of...
4    Movie  ...  When nerdy high schooler Dani finally attracts...

[5 rows x 8 columns]

In [20]:
#rake-nltk is a library for keyword extraction RAKE stands for Rapid Automatic Keyword Extraction
!pip install rake-nltk
from rake_nltk import Rake
from sklearn.metrics.pairwise import cosine_similarity
from sklearn.feature_extraction.text import CountVectorizer

Collecting rake-nltk
  Downloading https://files.pythonhosted.org/packages/8e/c4/b4ff57e541ac5624ad4b20b89c2bafd4e98f29fd83139f3a81858bdb3815/rake_nltk-1.0.4.tar.gz
Requirement already satisfied: nltk in /Users/mayank/anaconda3/lib/python3.7/site-packages (from rake-nltk) (3.4.4)
Requirement already satisfied: six in /Users/mayank/anaconda3/lib/python3.7/site-packages (from nltk->rake-nltk) (1.12.0)
Building wheels for collected packages: rake-nltk
  Building wheel for rake-nltk (setup.py) ... done
  Created wheel for rake-nltk: filename=rake_nltk-1.0.4-py2.py3-none-any.whl size=7818 sha256=cc9babfb767c346be7f7d964d8731118b426b4b852c2aa59b5df688f66455316
  Stored in directory: /Users/mayank/Library/Caches/pip/wheels/ef/92/fc/271b3709e71a96ffe934b27818946b795ac6b9b8ff8682483f
Successfully built rake-nltk
Installing collected packages: rake-nltk
Successfully installed rake-nltk-1.0.4
WARNING: You are using pip version 19.2.3, however version 20.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [29]:
#The data is already clean, all we need to do is take care of NaN values if there are any
new_data.dropna(inplace=True)
new_data.head()

/Users/mayank/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

    type  ...                                        description
0  Movie  ...  Before planning an awesome wedding for his gra...
4  Movie  ...  When nerdy high schooler Dani finally attracts...
6  Movie  ...  In a dystopian future, an insurance adjuster f...
7  Movie  ...  Fabrizio Copano takes audience participation t...
9  Movie  ...  A struggling couple can't believe their luck w...

[5 rows x 8 columns]

In [32]:
blanks = []  # start with an empty list

col=['type','listed_in','director','cast','country','rating']
for i,col in new_data.iterrows():  # iterate over the DataFrame
    if type(col)==str:            # avoid NaN values
        if col.isspace():         # test 'review' for whitespace
            blanks.append(i)     # add matching index numbers to the list

new_data.drop(blanks, inplace=True)

/Users/mayank/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [33]:
#Now we extract keywords from the description using RAKE keyword extractor and add those keywords in our dataframe
new_data['Key_words/desc'] = ''

for i,n in new_data.iterrows():
    desc = n['description']
    r = Rake()
    r.extract_keywords_from_text(desc)
    score_for_keyword = r.get_word_degrees()
    n['Key_words/desc']=list(score_for_keyword.keys())
    
new_data.head(10)

/Users/mayank/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

     type  ...                                     Key_words/desc
0   Movie  ...  [grandfather, evil, archaeologist, first, awes...
4   Movie  ...  [social, media, celebrity, longtime, crush, ex...
6   Movie  ...  [global, conspiracy, tech, company, investigat...
7   Movie  ...  [stand, sperm, banks, set, reflecting, family,...
9   Movie  ...  [neighbor, stash, luck, money, believe, find, ...
11  Movie  ...  [freddy, kidnapped, 1983, abductors, make, lar...
19  Movie  ...  [may, missing, ex, man, intense, past, relatio...
20  Movie  ...  [subjects, documentary, love, filmmaker, worki...
21  Movie  ...  [faking, cia, construct, brain, epic, scam, st...
23  Movie  ...  [becomes, suspicious, mentor, female, patient,...

[10 rows x 9 columns]

In [34]:
#now let us convert all the columns into lists so that we can iterate easily over them.
new_data['cast'] = new_data['cast'].map(lambda x:x.split(',')[:3])
new_data['listed_in'] = new_data['listed_in'].map(lambda x:x.lower().split(','))
new_data['type'] = new_data['type'].map(lambda x:x.lower().split(','))
new_data['country'] = new_data['country'].map(lambda x:x.lower().split(','))
new_data['rating'] = new_data['rating'].map(lambda x:x.lower().split(','))
new_data['director'] = new_data['director'].map(lambda x:x.split(','))

new_data.drop('description',axis=1, inplace=True)

new_data.head(10)

/Users/mayank/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/mayank/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/Users/mayank/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/Users/mayank/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/Users/mayank/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/Users/mayank/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

       type  ...                                     Key_words/desc
0   [movie]  ...  [grandfather, evil, archaeologist, first, awes...
4   [movie]  ...  [social, media, celebrity, longtime, crush, ex...
6   [movie]  ...  [global, conspiracy, tech, company, investigat...
7   [movie]  ...  [stand, sperm, banks, set, reflecting, family,...
9   [movie]  ...  [neighbor, stash, luck, money, believe, find, ...
11  [movie]  ...  [freddy, kidnapped, 1983, abductors, make, lar...
19  [movie]  ...  [may, missing, ex, man, intense, past, relatio...
20  [movie]  ...  [subjects, documentary, love, filmmaker, worki...
21  [movie]  ...  [faking, cia, construct, brain, epic, scam, st...
23  [movie]  ...  [becomes, suspicious, mentor, female, patient,...

[10 rows x 8 columns]

In [35]:
for i,n in new_data.iterrows():
    n['cast'] = [x.lower().replace(' ','') for x in n['cast']]
    n['type'] = [x.lower().replace(' ','') for x in n['type']]
    n['rating'] = [x.lower().replace(' ','') for x in n['rating']]
    n['country'] = [x.lower().replace(' ','') for x in n['country']]
    n['director'] = ''.join(n['director']).lower()
    
new_data = new_data.set_index('title')
new_data.head(10)

                                            type  ...                                     Key_words/desc
title                                             ...
Norm of the North: King Sized Adventure  [movie]  ...  [grandfather, evil, archaeologist, first, awes...
#realityhigh                             [movie]  ...  [social, media, celebrity, longtime, crush, ex...
Automata                                 [movie]  ...  [global, conspiracy, tech, company, investigat...
Fabrizio Copano: Solo pienso en mi       [movie]  ...  [stand, sperm, banks, set, reflecting, family,...
Good People                              [movie]  ...  [neighbor, stash, luck, money, believe, find, ...
Kidnapping Mr. Heineken                  [movie]  ...  [freddy, kidnapped, 1983, abductors, make, lar...
Love                                     [movie]  ...  [may, missing, ex, man, intense, past, relatio...
Manhattan Romance                        [movie]  ...  [subjects, documentary, love, filmmaker, worki...
Moonwalkers                              [movie]  ...  [faking, cia, construct, brain, epic, scam, st...
Stonehearst Asylum                       [movie]  ...  [becomes, suspicious, mentor, female, patient,...

[10 rows x 7 columns]

In [37]:
new_data['bag_of_words'] = ''

cols = new_data.columns
for i,j in new_data.iterrows():
    words = ''
    for k in cols:
        if k!='director':
            words = words + ' '.join(j[k])+ ' '
        else:
            words = words + j[k] + ' '
            
    j['bag_of_words'] = words
new_data.head(10)

                                            type  ...                                       bag_of_words
title                                             ...
Norm of the North: King Sized Adventure  [movie]  ...  movie children & family movies  comedies richa...
#realityhigh                             [movie]  ...  movie comedies fernando lebrija nestacooper ka...
Automata                                 [movie]  ...  movie international movies  sci-fi & fantasy  ...
Fabrizio Copano: Solo pienso en mi       [movie]  ...  movie stand-up comedy rodrigo toro francisco s...
Good People                              [movie]  ...  movie action & adventure  thrillers henrik rub...
Kidnapping Mr. Heineken                  [movie]  ...  movie action & adventure  dramas  internationa...
Love                                     [movie]  ...  movie cult movies  dramas  independent movies ...
Manhattan Romance                        [movie]  ...  movie comedies  independent movies  romantic m...
Moonwalkers                              [movie]  ...  movie action & adventure  comedies  internatio...
Stonehearst Asylum                       [movie]  ...  movie horror movies  thrillers brad anderson k...

[10 rows x 8 columns]

In [38]:
clean_data = new_data.drop(columns = [cols for cols in new_data.columns if cols!='bag_of_words'])
clean_data.head(10)

                                                                              bag_of_words
title
Norm of the North: King Sized Adventure  movie children & family movies  comedies richa...
#realityhigh                             movie comedies fernando lebrija nestacooper ka...
Automata                                 movie international movies  sci-fi & fantasy  ...
Fabrizio Copano: Solo pienso en mi       movie stand-up comedy rodrigo toro francisco s...
Good People                              movie action & adventure  thrillers henrik rub...
Kidnapping Mr. Heineken                  movie action & adventure  dramas  internationa...
Love                                     movie cult movies  dramas  independent movies ...
Manhattan Romance                        movie comedies  independent movies  romantic m...
Moonwalkers                              movie action & adventure  comedies  internatio...
Stonehearst Asylum                       movie horror movies  thrillers brad anderson k...

In [39]:
data[data.country=='India'][:5]

     show_id     type  ... Year_added Month_added
35  81154455    Movie  ...     2019.0         9.0
37  81052275    Movie  ...     2019.0         9.0
41  70303496    Movie  ...     2018.0         9.0
58  81155784    Movie  ...     2019.0         9.0
99  80225885  TV Show  ...     2019.0         9.0

[5 rows x 14 columns]

In [40]:
clean_data.loc['PK']['bag_of_words']

'movie comedies  dramas  international movies rajkumar hirani aamirkhan anuskhasharma sanjaydutt india tv-14 aamir khan teams director rajkumar hirani state political satire corruption social crusader india play  '

In [41]:
count = CountVectorizer()
lol = count.fit_transform(clean_data['bag_of_words'])

In [42]:

similarity = cosine_similarity(lol,lol)

In [43]:
listy = pd.Series(clean_data.index)

In [45]:
def recommendations(Title, cosine_sim = similarity):
    
    recommended_movies = []
    
    # gettin the index of the movie that matches the title
    idx = listy[listy == Title].index[0]

    # creating a Series with the similarity scores in descending order
    score_series = pd.Series(cosine_sim[idx]).sort_values(ascending = False)

    # getting the indexes of the 10 most similar movies
    top_10_indexes = list(score_series.iloc[1:11].index)
    
    # populating the list with the titles of the best 10 matching movies
    for i in top_10_indexes:
        recommended_movies.append(list(clean_data.index)[i])
        
    return recommended_movies

In [46]:
recommendations('Article 15')

['I Am',
 'Merku Thodarchi Malai',
 'W/O Ram',
 'Kacche Dhaagey',
 'Vanjagar Ulagam',
 'Saavat',
 'LSD: Love, Sex Aur Dhokha',
 'Brij Mohan Amar Rahe',
 'Hazaaron Khwaishein Aisi',
 'Made in China']

In [50]:
recommendations('PK')

['3 Idiots',
 'Merku Thodarchi Malai',
 'Sanju',
 'Hattrick',
 'Harishchandrachi Factory',
 'English Babu Desi Mem',
 'Dil Chahta Hai',
 'War Chhod Na Yaar',
 'Kacche Dhaagey',
 'Mahabharat']

In [53]:
recommendations('Lincoln')

['War Horse',
 'Catch Me If You Can',
 "Schindler's List",
 'Indiana Jones and the Kingdom of the Crystal Skull',
 'Indiana Jones and the Temple of Doom',
 'Indiana Jones and the Last Crusade',
 'The Last Face',
 'Indiana Jones and the Raiders of the Lost Ark',
 'The Adventures of Tintin',
 'Flash of Genius']